<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Burgerama</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="burger_style.css">
	</head>

	<body>
		{{{ body }}}
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

	</script>
	<srcipt src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">  </srcipt>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">

	</script>

</html>